.m-contanier{
	padding:57px 0 0 40px;
}

//创建课堂
.m-createCouse{
	background:#ffffff;
	border:2px dashed #00b8f3;
	border-radius:16px;
	width:248px;
	height:316px;
	position: relative;
	margin-right:39px;
	margin-bottom:44px;
	float: left;
	cursor: pointer;
	div{
		position: absolute;
		left:50%;
		top:50%;
		margin-left:-60px;
		margin-top:-32px;
		width: 120px;
		height: 64px;
		text-align:center;
		img{
			height: 27px;
			width: 27px;
			margin-bottom:9px;
		}
		p{
			height: 25px;
			line-height:25px;
			font-family:PingFangSC-Medium;
			font-size:18px;
			color:#2ab9e7;
			letter-spacing:1.35px;
			text-align:center;
		}
	}
}

//课程简介
.m-courseInstruction{
	font-family:PingFang-SC-Regular;
	background:#ffffff;
	border-radius:16px;
	width:250px;
	height:318px;
	overflow:hidden;
	border:1px solid #ccc;
	position: relative;
	margin-right:39px;
	margin-bottom:44px;
	float: left;
	&:hover{
		cursor:pointer;
	}
	.u-hd{
		position: relative;
		width: 100%;
		height:70px;
		border-radius:16px 16px 0 0;
		text-align:center;
		padding-top:50px;
		overflow:hidden;
		span{
			font-size:30px;
			color:#ffffff;
			font-weight:700;
			line-height:48px;
		}
	}

	.u-bd{
		background:#fff;
		width: 100%;
		height:200px;
		border-radius:0 0 16px 16px ;
		position: relative;
		.msg{
			font-size:15px;
			color:#555459;
			line-height:30px;
			text-align:left;
			padding: 20px 22px;
			p{
				font-size:15px;
				color:#9e9ea6;
				line-height:24px;
			}
		}
		.op{
			position: absolute;
			width: 100px;
			height: 65px;
			bottom:0;
			right:0;
			text-align:center;
			font-size:12px;
			color:#9e9ea6;
			line-height:22.5px;
			text-align:left;
			cursor: pointer;
			.edit{
				width: 32px;
				margin-right:20px;
				text-align:center;
				i {
				    display: inline-block;
				    height: 27px;
				    width: 27px;
				    border-radius: 27px;
				    border: 1px solid #ccc;
				    background: url("../../img/i_edit.png") no-repeat;

				    &:hover{
				    	border:1px solid #00b8f3;
				    	background: url("../../img/i_edit_hover.png") no-repeat;

				    }
				}
				&:hover{
					color:#00b8f3;
				}
			}
			.delete{
				width: 32px;
				text-align:center;
				i{
					display: inline-block;
					height: 27px;
					width: 27px;
					border-radius:27px;
					border :1px solid #ccc;
					background:url('../../img/i_delete.png') no-repeat;

					&:hover{
						border:1px solid #f35f3d;
						background:url('../../img/i_delete_hover.png') no-repeat;

					}
				}

				&:hover{
					color:#f35f3d;
				}
				
			}
		}
	}

	.type0 {
		background:url('../img/y_bkg.png') no-repeat;
	}
	.type1{
		background:url('../img/s_bkg.png') no-repeat;
	}
	.type2{
		background:url('../img/g_bkg.png') no-repeat;
	}
	.type3{
		background:url('../img/b_bkg.png') no-repeat;
	}
	.type4{
		background:url('../img/r_bkg.png') no-repeat;
	}
}


//课程简介
.m-courseDetail{
	font-family:PingFang-SC-Regular;
	background:red;
	width: 100%;
	.u-left{
		position: relative;
		background:blue;
		width:250px;
		height:960px;
		float: left;
		span{
			font-size:30px;
			color:#ffffff;
			font-weight:700;
			line-height:48px;
		}
	}

	.u-right{
		background:#ccc;
		margin-left:252px;
		float: left;
	}
}



//创建课堂
.u-createCourseModal{
	padding:20px 40px;

	.content{
		height: 260px;
		overflow:hidden;
		text-align:center;
		color:#555459;
		div{
			margin-bottom:20px;
			position: relative;
			
		}
		.u-ipt {
			background:#f7fafc;
			border:1px solid #e1e8ed;
			border-radius:6px;
			width:500px;
			height:30px;
			padding:10px 0 10px 20px;
			color:#9e9ea6;
			line-height:30px;
			font-size:16px;
		}
		select{
		    background:#f7fafc;
			border:1px solid #e1e8ed;
			border-radius:6px;
			width:520px;
			height:50px;
			color:#9e9ea6;
			line-height:50px;
			font-size:16px;
			text-indent:20px;
			option{
				text-indent:25px;
			}
		}
		.u-textarea{
			height:90px;
			font-size:12px;
			line-height:22px;
			text-indent:4px;
		}

		span{
		    position: absolute;
		    right: 20px;
		    bottom: 10px;
		    color: #999;
		}

	}	
}



//编辑课堂
.u-editClassModal{
	padding:20px 40px;

	.content{
		height: 260px;
		overflow:hidden;
		text-align:center;
		color:#555459;
		div{
			margin-bottom:20px;
			position: relative;
			
		}
		.u-ipt {
			background:#f7fafc;
			border:1px solid #e1e8ed;
			border-radius:6px;
			width:500px;
			height:30px;
			padding:10px 0 10px 20px;
			color:#9e9ea6;
			line-height:30px;
			font-size:16px;
		}
		select{
		    background:#f7fafc;
			border:1px solid #e1e8ed;
			border-radius:6px;
			width:520px;
			height:46px;
			color:#9e9ea6;
			line-height:46px;
			font-size:16px;
			text-indent:20px;
			option{
				text-indent:25px;
			}
		}
		.u-textarea{
			height:90px;
			font-size:12px;
			line-height:22px;
			text-indent: 0px;
		}
		span{
		    position: absolute;
		    right: 20px;
		    bottom: 10px;
		    color: #999;
		}

	}
}

//删除课堂
.u-deleteClassModal{
	padding:30px 0 80px;
	font-size:20px;
	color:#555459;
	text-align:center;
}