.m-contanier{
	padding:57px 0 0 40px;
}

//创建课堂
.m-createCouse{
	background:#ffffff;
	border:2px dashed #00b8f3;
	border-radius:16px;
	width:248px;
	height:316px;
	position: relative;
	margin-right:39px;
	margin-bottom:44px;
	float: left;
	cursor: pointer;
	div{
		position: absolute;
		left:50%;
		top:50%;
		margin-left:-60px;
		margin-top:-32px;
		width: 120px;
		height: 64px;
		text-align:center;
		img{
			height: 27px;
			width: 27px;
			margin-bottom:9px;
		}
		p{
			height: 25px;
			line-height:25px;
			font-family:PingFangSC-Medium;
			font-size:18px;
			color:#2ab9e7;
			letter-spacing:1.35px;
			text-align:center;
		}
	}
}

//课程简介
.m-courseInstruction{
	font-family:PingFang-SC-Regular;
	background:#ffffff;
	border-radius:16px;
	width:252px;
	height:320px;
	position: relative;
	margin-right:39px;
	margin-bottom:44px;
	float: left;
	.u-hd{
		position: relative;
		background:url('../img/blue_bkg.png') no-repeat;;
		width: 100%;
		height:70px;
		border-radius:16px 16px 0 0;
		text-align:center;
		padding-top:50px;
		overflow:hidden;
		span{
			font-size:30px;
			color:#ffffff;
			font-weight:700;
			line-height:48px;
		}
		&:hover{
			cursor:pointer;
			transform:scale(1.1);
		}
	}

	.u-bd{
		background:#fff;
		width: 100%;
		height:200px;
		border-radius:0 0 16px 16px ;
		position: relative;
		.msg{
			font-size:15px;
			color:#555459;
			line-height:30px;
			text-align:left;
			padding: 25px 22px;
			p{
				font-size:15px;
				color:#9e9ea6;
				line-height:24px;
			}
		}
		.op{
			position: absolute;
			width: 100px;
			height: 80px;
			bottom:0;
			right:0;
			text-align:center;
			font-size:12px;
			color:#9e9ea6;
			line-height:22.5px;
			text-align:left;
			cursor: pointer;
			.edit{
				width: 32px;
				margin-right:20px;
				i {
				    display: inline-block;
				    height: 27px;
				    width: 27px;
				    border-radius: 27px;
				    border: 1px solid #ccc;
				    background: url("../../img/i_edit.png") no-repeat;
				    background-size: 60% 60%;
				    background-position: 5px 4px;
				    &:hover{
				    	border:1px solid #00b8f3;
				    	background: url("../../img/i_edit_hover.png") no-repeat;
					    background-size: 60% 60%;
					    background-position: 5px 4px;
				    }
				}
				&:hover{
					color:#00b8f3;
				}
			}
			.delete{
				width: 32px;
				i{
					display: inline-block;
					height: 27px;
					width: 27px;
					border-radius:27px;
					border :1px solid #ccc;
					background:url('../../img/i_delete.png') no-repeat;
					background-size: 60% 60%;
					background-position:5px 5px;
					&:hover{
						border:1px solid #f35f3d;
						background:url('../../img/i_delete_hover.png') no-repeat;
						background-size: 60% 60%;
						background-position:5px 5px;
					}
				}

				&:hover{
					color:#f35f3d;
				}
				
			}
		}
	}

	.type0 {
		background:#2ab9e7;
	}
	.type1{
		background:#84cd35;
	}
	.type2{
		background:#22CBAD;
	}
	.type3{
		background:#F35F3D;
	}
}


//课程简介
.m-courseDetail{
	font-family:PingFang-SC-Regular;
	background:red;
	width: 100%;
	.u-left{
		position: relative;
		background:blue;
		width:250px;
		height:960px;
		float: left;
		span{
			font-size:30px;
			color:#ffffff;
			font-weight:700;
			line-height:48px;
		}
	}

	.u-right{
		background:#ccc;
		margin-left:252px;
		float: left;
	}
}