<div class="m-vocabulary f-pr">
	<div class="m-title-box">
		<span class="btitle">语言词汇学习集</span>
		<span class="stitle">输入学习的词汇，添加好注释和图片，有多种互动玩法</span>
	</div>
	<div class="m-delinter f-pa" on-click="this.delInter();">移除</div>
	<div class="b-30"></div>
	<div class="m-cntlist-box">
		<div class="cnt-title f-cb">
			<div class="td td0"></div>
			<div class="td td1">学习词汇（英语）</div>
			<div class="td td2">注释 （中文）</div>
			<div class="td td3">图片</div>
			<div class="td td4">声音</div>
			<div class="td td5">操作</div>
		</div>
		{#list options as item}
			<div class="cnt-item f-cb">
				<div class="td td0">{item_index+1}
				</div>			
				<div class="td td1">
					<input class="eninput" r-model = {item.item_cont.en}>
				</div>
				<div class="td td2">
					<input class="cninput" r-model = {item.item_cont.zh}>
				</div>
				<div class="td td3">
					<div class="imgwrap f-pr">
						<img class="del f-pa" src="./img/del.png">
						<img src="" on-click={this.getImage($event,'dog')} class="sourceimg">
					</div>
				</div>
				<div class="td td4">
					<div class="soundwrap f-pr">
						<img r-hide={!item.item_cont.proTag} src="./img/soundok.png">	
						<img r-hide={!!item.item_cont.proTag}  src="./img/sounddis.png">	
					</div>
				</div>
				<div class="td td5"><span on-click={delItem(item_index,item.optionID)}>删除</span></div>
			</div>
		{/list}
		<div class="addItem" on-click={this.addItem()}><img src="./img/addinterop.png"><span>添加</span></div>
	</div>
</div>