

<div class="m-taskItem f-cb"  >
	<div class="left">{item+1}</div>
	<div class="right">
		<div style="width:580px;cursor:pointer;" on-click={this.__opTodo(info.taskID,2)}>
			<div class="head">
				{info.taskName}
			</div>
			<div class="body">
				<span>小块数：{info.blockNum}</span>
			</div>
		</div>
		<div class="op">
			<div class="edit f-fl" on-click={this.__opTodo(info.taskID,2)}>
				<i></i><span>编辑</span>
			</div>
			<div class="delete f-fl" on-click={this.__opTodo(info.taskID,3)}>
				<i></i><span>删除</span>
			</div>
		</div>
	</div>
</div>