<div class="form-wrap">
	<form action="http://teacher.xcase.com.cn/Api/Login" method="post"  ref="loginform"> 
	    <input id="j-input-name" class="u-input input" type="text"placeholder="手机号码" ref="uninput" name="phone">
	    <input id="j-input-password" class="u-input input" type="password"  placeholder="密码" ref="pwinput" name="pwd">

	    <div class="bottomwrap">  
	    	<div class="top">
	    		<input type="checkbox" checked="true" ref="remember" id="remember"/>
	    		<label for="remember">记住我</label>
	    		<a href="" class="f-fr forgot">忘记密码?</a>
	    	</div>
			<div class="u-btn loginbtn" on-click = {this.submit()}>登录</div>
	    </div>
	</form>

</div>