@import "reset";
@import "func";
@import "unit";
@import "label";

body{
	word-wrap: break-word; 
	word-break: break-all;
	min-height:700px;
	position:relative;
	padding-bottom:80px;
}

.g-wrap{
	margin: 0 auto;
	width: 1205px;
	background:#f7fafc;
	min-height:700px;
}

a{
	color:#00b8f3;
}
/**
 * 头部
 */

.m-header {
	height: 75px;
	width: 1203px;
	margin: 0 auto;
	border:1px solid #ccc;
	border-top:none;
	border-radius:10px 10px 0 0 ;
	.u-logo {
	    background: url("../../img/logo.png") no-repeat;
	    display:inline-block;
	    margin: 24px 0 24px 30px;
	    width: 280px;
	    height: 29px;
	}

	.u-info{
		height: 32px;
		width: 120px;
		margin-right:44px;
		margin-top:16px;
		img{
			width: 32px;
			height: 32px;
			border-radius:16px;
		}
		span{
			font-family:PingFangSC-Regular;
			font-size:13px;
			color:#00b8f3;
			line-height:24px;
			text-align:left;
		}
	}
    
    ul{
    	margin-left:200px;
		li{
			font-family:PingFangSC-Medium;
			font-size:21px;
			color:#9e9ea6;
			width: 140px;
			margin-left:24px;
			line-height:75px;
			text-align:left;
			height: 75px;
			float:left;
		}
	}
}

/**
 * 页脚
 */
.m-footer{ 
	width:100%;
	height: 80px;
	line-height:80px;
	color:#c5ccd2;
	text-align:center;
	font-size:13px;
	position:absolute;
	bottom:0;
	left: 0;
}


.m-modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1010;
    background: rgba(0,0,0,.8);
    -webkit-animation: fadeIn 1s linear;
    animation: fadeIn 1s linear; 
    .modal_dialog{
      position: relative;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 150px auto;
      padding: 0 0 20px 0;
      width: 600px;
      max-width: 100%;
      max-width: calc(100% - 20px);
      min-height: 200px;
      background: #fff;
      -webkit-animation: slideTop .8s ease-out;
      animation: slideTop .8s ease-out;  
      border-radius: 6px;
      box-shadow: 0 0 10px rgba(0,0,0,.3);
      overflow: hidden;
    }

    .modal_hd{
      background-color: #f7fafc;
      height: 50px;
      color:555459;
      text-align:center;
    }

    .modal_close{
      position: absolute;
      top: 12px;
      right: 24px;
      &:hover{
        cursor:pointer;
      }
    }
    .modal_bd{

    }
    .modal_title{
      font-size: 18px;
      font-weight: bolder;
      height: 50px ;
      line-height: 50px;
      color:555459;
    }
    .modal_ft{
      text-align: center;
    }
    .u-icon-close{
		background: url('../img/delete.png') no-repeat ;
		height: 32px;
		width:32px;
		display: inline-block;
		transition:All 0.4s ease-in-out;
	    -webkit-transition:All 0.4s ease-in-out;
	    -moz-transition:All 0.4s ease-in-out;
	    -o-transition:All 0.4s ease-in-out;
		&:hover{
			transform:rotate(180deg);
		    -webkit-transform:rotate(180deg);
		    -moz-transform:rotate(180deg);
		    -o-transform:rotate(180deg);
		    -ms-transform:rotate(180deg);
		};
	}
	

	//正常按钮
	.u-btn {  
		background:#00b8f3;
		border-radius:6px;
		width:260px;
		height:46px;
		font-size: 20px;
		height:46px;
		color:#fff;
		display: inline-block;
		border:1px solid rgba(0,0,0,.2);
		text-align: center;
		-webkit-touch-callout: none;
		-webkit-user-select:none;
		-ms-user-select: none;
		-moz-user-select:none;
	    user-select: none;
	    &:hover{
	    	background:#008ad2;
	    }
	}


	//确定按钮1
	.u-btn-post{
		padding:10px 24px;
		font-size:16px;
		border-radius: 8px;
		background:#cd251d;
		color:#fff;
		border:none;
		&:hover{
			color:#f1f1f1;
			background: #EA5756;
		};
	}
	//取消按钮	 
}
