@import "reset";
@import "func";
@import "unit";
@import "label";

body{
	word-wrap: break-word; 
	word-break: break-all;
	margin: 0 auto;
}

.g-wrap{
	margin: 0 auto;
	width: 1205px;
	background:#f7fafc;
	min-height:700px;
}

/**
 * 头部
 */

.m-header {
	height: 75px;
	border-bottom:1px solid #ccc;
	.u-logo {
	    background: url("../../img/logo.png") no-repeat;
	    display:inline-block;
	    margin: 24px 0 24px 30px;
	    width: 146px;
	    height: 29px;
	}

	.u-info{
		height: 32px;
		width: 120px;
		margin-right:44px;
		margin-top:16px;
		img{
			width: 32px;
			height: 32px;
			border-radius:16px;
		}
		span{
			font-family:PingFangSC-Regular;
			font-size:13px;
			color:#00b8f3;
			line-height:24px;
			text-align:left;
		}
	}
    
    ul{
    	margin-left:200px;
		li{
			font-family:PingFangSC-Medium;
			font-size:21px;
			color:#9e9ea6;
			width: 140px;
			margin-left:24px;
			line-height:75px;
			text-align:left;
			height: 75px;
			float:left;
		}
	}
}


/**
 * 页脚
 */
.m-footer{ 
	height: 80px;
	line-height:80px;
	color:#c5ccd2;
	text-align:center;
	font-size:13px;
}