
label input[type="radio"] + *,label input[type="checkbox"] + *{
	cursor:pointer;
}
label,.ui-chk,.ui-radio{
	position:relative;
	z-index:1;
}
label >input[type="radio"],label >input[type="checkbox"],.ui-chk >input[type="radio"],.ui-chk >input[type="checkbox"],.ui-radio >input[type="radio"],.ui-radio >input[type="checkbox"]{
	display:inline-block;
	width:15px;
	height:15px;
	margin:0;
	vertical-align:middle;
	opacity:0;
	cursor:pointer;
}
label >input[type="radio"] + span:before,
label >input[type="checkbox"] + span:before,
.ui-chk >input[type="radio"] + span:before,
.ui-chk >input[type="checkbox"] + span:before,
.ui-radio >input[type="radio"] + span:before,
.ui-radio >input[type="checkbox"] + span:before{
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:15px;
	height:15px;
	background-image:url("../img/sprite.png");
	
	background-position:-15px -0px;
}
label >input[type="radio"]:checked + span:before,
label >input[type="checkbox"]:checked + span:before,
.ui-chk >input[type="radio"]:checked + span:before,
.ui-chk >input[type="checkbox"]:checked + span:before,
.ui-radio >input[type="radio"]:checked + span:before,
.ui-radio >input[type="checkbox"]:checked + span:before{
	background-position:0 0;
}

label >input[type="radio"] + span:before{
	background-size:20px 20px;
    background-repeat: no-repeat;
    background-position: 0 0;
	background-image:url("../img/radio_no.png");
}

label >input[type="radio"]:checked + span:before{
	background-size:20px 20px;
	background-repeat: no-repeat;
    background-position: 0 0;
	background-image:url("../img/radio_chk.png");
}	