.u-btn {
	background:#00b8f3;
	border-radius:6px;
	width:100%;
	height:48px;
	font-size:20px;
	color:#ffffff;
	line-height:48px;
	text-align:center;
	cursor:pointer;
	&:hover{
		background:#008ad2;
	}
}

.u-input{
	display: block;
	height: 70px;
	font-size: 18px;
	line-height: 70px;
	text-indent: 40px;
	width:100%;
	border:none;
	border-bottom:1px solid #e1e8ed;
}

.u-ipt{
	background:#ffffff;
	border:1px solid #d8d8d8;
	border-radius:6px;
	width:100%;
	height:48px;
	line-height:48px;
	text-indent:10px;
	font-size:20px;
	color:#d8d8d8;
}