.m-bread{
	height: 20px;
}
.m-sort{
	background:#f5f8fa;
	border-radius:4px;
	width:865px;
	min-height:200px;
	padding:24px 34px;
	overflow:hidden;
	margin-bottom:14px;
	.m-title-box{
		.btitle{
			font-size:17px;
			color:#555459;
			line-height:17px;
			text-align:left;
		}
		.stitle{
			padding-left:30px;
			font-size:15px;
			color:#9e9ea6;
			line-height:15px;
			text-align:left;
		}
	}
	.m-delinter{
		background:#fcfcfd;
		border:1px solid #c5c5c5;
		border-radius:2px;
		text-align: center;
		line-height: 26px;
		width:58px;
		height:26px;
		top:10px;
		right: 16px;
		cursor: pointer;
	}
	.m-cntlist-box{
		box-sizing:border-box;
		.td{
			text-align: left;
			float:left;
			height: 44px;
		}
		.td0{
			width:34px;
		}		
		.td1{
			width:598px;
		}			
		.td5{
			width:34px;
			margin-left:24px;
			span{
				cursor: pointer;
			}
		}		
		.cnt-title{
			font-size:13px;
			color:#9e9ea6;
			line-height:22.5px;
			text-align:left;
		}
		.cnt-item{
			font-size:17px;
			color:#000000;
			line-height:30px;
			text-align:left;
			margin-bottom: 20px;
			.cntinput{
				background:#ffffff;
				text-indent: 14px;
				border:1px solid #c5c5c5;
				width:598px;
				height:44px;
				box-sizing:border-box;
				font-size: 17px;
				color:#000;
			}
			.cntinput:focus{
				border-color:#00B8F3;
			}
			.td5{
				span{
					font-size:13px;
					color:#00b8f3;
					line-height:22.5px;
					text-align:left;
				}
			}
		}
		.addItem{
			width: 100px;
			cursor: pointer;
			img{
				height: 18px;
				width: 18px;
				position: relative;
			    top: 2px;
			    padding-left: 34px;
			}
			span{
				padding-left:8px;
				font-size:17px;
				color:#000000;
				line-height:30px;
				text-align:left;
			}
		}
	}
}