<div class="m-questionwrap f-f0">
	<div class="m-bread">
		<img class="f-fl" src="./img/logo.png">
		<div class="guidewrap f-fl">
			<a href="">主页</a>>
			<a href="">tot talk</a>>
			<span>编辑题目</span>
		</div>
		<div class="okbtn f-fr">完成</div>
	</div>
	<div class="m-titleinfo f-pr">
		<div class="title f-pa">第一题</div>
		<input class="u-ipt nameipt f-pa" type="text" placeholder="请输入题目名称">
		<div class="qimg f-pa">
			<img src="">
		</div>
		<div class="qtitle f-pa">听声音 猜单词</div>
		<div class="qdesc f-pa">听发音，摇动正确答案所在的小块，猜出发音对应的单词。</div>
	</div>
	<div class="m-qcnt">
		<div class="soundwrap f-cb">
			<div class="title f-fl">设置题目图片</div>
			<div class="soundarea f-fl">
				<div class="u-btn add f-ib">添加声音</div>
				<div class="sound f-ib">5s</div>
				<div class="u-btn delbtn f-ib">删除声音</div>
			</div>
		</div>
		<div class="imgwrap"></div>
		<div class="sentencewrap"></div>
		
	</div>
	<div class="m-block"></div>
</div>