<div class="m-questionwrap f-f0">
	<div class="m-bread">
		<img class="f-fl" src="./img/logo.png">
		<div class="guidewrap f-fl">
			<a href="">主页</a>>
			<a href="">tot talk</a>>
			<span>编辑题目</span>
		</div>
		<div class="okbtn f-fr">完成</div>
	</div>
	<div class="m-titleinfo f-pr">
		<div class="title f-pa">第一题</div>
		<input class="u-ipt nameipt f-pa" type="text" placeholder="请输入题目名称">
		<div class="qimg f-pa">
			<img src="">
		</div>
		<div class="qtitle f-pa">听声音 猜单词</div>
		<div class="qdesc f-pa">听发音，摇动正确答案所在的小块，猜出发音对应的单词。</div>
	</div>
	<div class="m-qcnt">
		<div class="soundwrap f-cb f-dn">
			<div class="title">设置题目声音</div>
			<div class="soundarea">
				<div class="u-btn add f-ib">添加声音</div>
				<div class="sound f-ib">5s</div>
				<div class="u-btn delbtn f-ib">删除声音</div>
			</div>
		</div>
		<div class="imgwrap f-dn">
			<div class="title">设置题目图片</div>
			<div class="imgarea">
				<img src="./img/blueadd.png">
				<p>添加图片</p>
			</div>
			<div class="qimg">
				<img src="">
				<span class="icon"></span>
				<span>修改图片</span>
			</div>
		</div>
		<div class="sentencewrap">
			<div class="title">设置题目</div>
			<input class="u-ipt titleipt" type="text" placeholder="输入文本 用空格隔开单词">
			<div class="b-20"></div>
			<div class="tips">直接输入文本，用空格区分电子积木显示。如：输入 how are you，则会在3块电子积木上呈现</div>
			<div class="b-30"></div>
		</div>
		
	</div>
	<div class="m-block">
		<div class="b-20"></div>
		<div class="title">设置电子积木<span>本题需要 4 块电子积木</span></div>
		<div class="b-40"></div>
		<div class="blockcontainer f-cb">
			<div class="blockitem f-fl">
				<div class="topblcok f-pr">  
					<div class="blockipt f-pa">uncle</div>
					<img class="del f-pa" src="./img/del.png">
				</div>
				<div class="b-20"></div>
				<input class="cnt-ipt" placeholder="请输入文本">
				<div class="b-20"></div>
				<div class="check right"></div>
			</div>
			<div class="add f-fl">
				<div class="topimg"><img src="./img/add_block.png"></div>
				<div>添加电子积木</div>
			</div>
		</div>
		<div class="b-40"></div>
		<div class="tips">点击 <img src="./img/wrong.png"> 按钮，呈现 <img src="./img/right.png"> 即为正确答案，支持多选</div>
		<div class="b-40"></div>
	</div>
</div>