
.unslider {
    overflow: auto;
    margin: 0;
    padding: 0;
    background: #666666;

    .unslider-wrap {
        position: relative;
        li {
            height: 300px;
            float: left;
        }
    }
    .unslider-fade {
        position: relative;
        .unslider-wrap li {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            z-index: 8;
            &.unslider-active {
                z-index: 10;
            }
        }
    }
    .unslider-arrow {
        position: absolute;
        left: 20px;
        z-index: 2;
        cursor: pointer;
        .unslider-arrow.next {
            left: auto;
            right: 20px;
        }
    }
}

.unslider-nav {
    ol {
        list-style: none;
        text-align: center;
        li {
            display: inline-block;
            width: 6px;
            height: 6px;
            margin: 0 4px;
            background: transparent;
            border-radius: 5px;
            overflow: hidden;
            text-indent: -999em;
            border: 2px solid #fff;
            cursor: pointer;
        }
        li.unslider-active {
            background: #fff;
            cursor: default;
        }
    }
}
