//主页样式

@import "./base/_common";

.m-classDetail{
	position: absolute;
	.u-side{
		width: 208px;
		padding: 0 20px;
		float:left;
		border-width: 0 0 1px 1px;
		border-style:solid;
		border-color:#c5d2db;
		min-height:680px;
		.head {
			padding:30px 0;
			font-family:PingFangSC-Medium;
			font-size:25px;
			color:#555459;
			line-height:36px;
			text-align:center;
			border-bottom: 1px solid #e1e8ed;
		}
		.instruction{
			padding:10px 0;
			border-bottom:1px solid #e1e8ed;
			p{
				font-family:PingFangSC-Regular;
				font-size:15px;
				color:#555459;
				line-height:24px;
				height: 24px;
				text-align:left;

				i {
				    width: 6px;
				    height: 6px;
				    display: inline-block;
				    border-raidus: 3px;
				    border-radius: 3px;
				    margin-right: 6px;
				}
				.type0{
					background:#8ed32d;
				}
				.type1{
					background:#ffcc00;
				}
				.type2{
					background:#ff5b45;
				}
				.type3{
					background:#ff5b45;
				}
				.type4{
					background:#32cdff;
				}

			}

		}
		.description{
			padding:10px 0;
			p{
				font-family:PingFangSC-Regular;
				font-size:16px;
				color:#555459;
				line-height:24px;
				height: 24px;
				text-align:left;
				i {
				    width: 6px;
				    height: 6px;
				    display: inline-block;
				    border-raidus: 3px;
				    border-radius: 3px;
				    margin-right: 6px;
				}
				.type0{
					background:#1be0bd;
				}
			}
			section{
				font-family:PingFangSC-Regular;
				font-size:16px;
				color:#9e9ea6;
				line-height:24px;
				text-align:left;
				margin-left:12px;
			}

		}
	}
	.u-right{
		background:#fff;
		margin-left:240px;
		border-width: 0 1px 1px 1px;
		border-style:solid;
		border-color:#c5d2db;
		width: 950px;
		min-height:660px;
		padding-top:20px;
		padding-left: 13px;

		// 课程列表
		.m-taskItem{
			margin-bottom:7px;
			background:#ffffff;
			border:1px solid #e1e8ed;
			border-radius:8px;
			width:890px;
			padding :15px 20px;
			height: 40px;
			position: relative;
			.left{
				background:#00b8f3;
				border-radius:6px;
				width:40px;
				height:40px;
				line-height:40px;
				font-family:PingFangSC-Medium;
				text-align:center;
				font-size:26px;
				color:#ffffff;
				float: left;
			}
			.right{
				float: left;
				position: relative;
				margin-left:35px;
				width: 90%;
				.head{
					font-family:PingFangSC-Medium;
					font-size:18px;
					color:#555459;
					vertical-align: top;
					text-align:left;
				}
				.body{
					font-family:PingFang-SC-Regular;
					font-size:14px;
					height: 24px;
					line-height:24px;
					color:#9e9ea6;
					span{
						margin-right:30px;
					}
				}
				.op{
					position: absolute;
					right: 0;
					top:10px;
					height: 30px;
					line-height:30px;
					text-align:center;
					.edit{
						width: 98px;
						border:1px solid #9e9ea6;
						border-radius:6px;
						margin-right:20px;
						cursor: pointer;
						line-height:30px;
						height: 30px;
						position: relative;
						i{
							position: absolute;
							display: inline-block;
							height: 27px;
							width: 23px;
							left:20px;
							top: 5px;
							background:url('../../img/i_edit.png') no-repeat;
							background-size:80% 80%;
						}
						span{
							display: inline-block;
							margin-left:10px;
						}
						&:hover{
							border:1px solid #00b8f3;
							color:#00b8f3;
							i{
								background:url('../../img/i_edit_hover.png') no-repeat;
								background-size:80% 80%;
							}
						}

					}
					.delete{
						width: 98px;
						border:1px solid #9e9ea6;
						border-radius:6px;
						cursor: pointer;
						line-height:30px;
						height: 30px;
						position: relative;
						i{
							display: inline-block;
							height: 26px;
							width: 20px;
							left:20px;
							top: 5px;
							position: absolute;
							background:url('../../img/i_delete.png') no-repeat;
							background-size:80% 80%;
						}
						span{
							display: inline-block;
							margin-left:10px;
						}
						&:hover{
							border:1px solid #f35f3d;
							color:#f35f3d;
							i{
								background:url('../../img/i_delete_hover.png') no-repeat;
								background-size:80% 80%;
							}
						}
					}

				}
			}
			&:hover{
				border:2px solid #00b8f3;
			}
		}

		//创建课程
		.m-createTask{
			margin-bottom:7px;
			background:#ffffff;
			border:2px dashed #00b8f3;
			border-radius:8px;
			width:890px;
			padding :15px 20px;
			height: 40px;
			position: relative;
			text-align:center;
			&:hover{
				cursor:pointer;
			}
		}
	}
}	 
