//主页样式

@import "./base/common";	 

.m-contanier{
	padding:58px 50px;
}

//创建课堂
.m-createCouse{
	background:#ffffff;
	border:3px dashed #00b8f3;
	border-radius:16px;
	width:282px;
	height:354px;
	position: relative;
	margin-right:60px;
	float: left;
	div{
		position: absolute;
		left:50%;
		top:50%;
		margin-left:-60px;
		margin-top:-32px;
		width: 120px;
		height: 64px;
		text-align:center;
		img{
			height: 30px;
			width: 30px;
			margin-bottom:9px;
		}

		p{
			height: 25px;
			line-height:25px;
			font-family:PingFangSC-Medium;
			font-size:18px;
			color:#2ab9e7;
			letter-spacing:1.35px;
			text-align:center;
		}
	}
}

//课程简介
.m-courseInstruction{
	background:#ffffff;
	border-radius:16px;
	border:2px solid #e1e8ed;
	width:284px;
	height:356px;
	position: relative;
	margin-right:60px;
	float: left;
	.u-hd{
		position: relative;
		background:#2ab9e7;
		width: 100%;
		height:144px;
		border-radius:16px 16px 0 0;
		text-align:center;
		padding-top:60px;
		span{
			font-family:PingFangSC-Medium;
			font-size:30px;
			color:#ffffff;
			font-weight:700;
			line-height:48px;
		}
	}

	.u-bd{
		background:#fff;
		width: 100%;
		height:208px;
		border-radius:0 0 16px 16px ;
		position: relative;
		.msg{
			font-family:PingFang-SC-Regular;
			font-size:15px;
			color:#555459;
			line-height:30px;
			text-align:left;
			width: 100%;
			height: 100%;
			padding: 25px 22px;
			p{
				font-family:PingFangSC-Regular;
				font-size:15px;
				color:#9e9ea6;
				line-height:24px;
			}
		}
		.op{
			position: absolute;
			width: 140px;
			height: 80px;
			bottom:0;
			right:0;
			.edit{
				width: 32px;
				i{
					display: inline-block;
					height: 32px;
					width: 32px;
					background:('../../img/edit.png')
				}
			}
			.delete{
				width: 32px;
				i{
					display: inline-block;
					height: 32px;
					width: 32px;
					background:('../img/delete.png')
				}
			}
		}
	}

	.type1 {
		background:#2ab9e7;
	}
	.type2{
		background:#84cd35;
	}
	.type3{
		background:#22CBAD;
	}
	.type4{
		background:#F35F3D;
	}
}