@import "./base/common";	

.m-question-box{
	width:1205px;
	margin:0 auto;
	.m-bread{
		height: 64px;
		border-bottom:1px solid #c5d2db;
		margin-left: 45px;
		.guidewrap{
			display: block;
			font-size:17px;
			color:#00b8f3;
			line-height:64px;
			text-align:left;
		}
		.okbtn{
			background:#7bd300;
			border-radius:6px;
			width:120px;
			height:34px;
			text-align:center;
			font-size:18px;
			margin: 14px;
			color:#ffffff;
			line-height:34px;
			cursor: pointer;
		}
	}
	.m-titleinfo{
		background:#f7fafc;
		height:180px;
		.title{
			width: 490px;
			font-size:26px;
			color:#555459;
			text-align:left;
			left:40px;
			top:25px;
		}
		.nameipt{
			display: block;
			left:40px;
			top:77px;
			width: 490px;
			height: 48px;
		}
		.qimg{
			top:25px;
			right: 213px;
			img{
				background:#ffffff;
				border:1px solid #d8d8d8;
				border-radius:6px;
				height:128px;
			}
		}
		.qtitle{
			width:194px;
			top:30px;
			right: 0;
			text-align: left;
			font-size:18px;
			color:#555459;
		}
		.qdesc{
			top:65px;
			right: 40px;
			width: 153px;
			line-height: 20px;
			font-size:14px;
			color:#9e9ea6;
			text-align:left;
		}
	}
	.m-qcnt{
		margin:0px 40px;
		font-size:26px;
		color:#555459;
		text-align:left;
		border-bottom:1px solid #c5d2db;
		.soundwrap{
			margin-top: 40px;
			.title{
				font-size:25px;
				color:#555459;
				text-align:left;
				margin-bottom: 20px;
			}
			.soundarea{
				font-size: 30px;
				.add{
					font-size: 30px;
					width:259px;
					height:70px;
					line-height: 70px;
					margin-right: 20px;
				}
				.sound{
					font-size: 30px;
					width: 127px;
				    height: 70px;
				    line-height: 70px;
				    color:#fff;
				    text-align: center;
				    background-image: url("./../img/bubble_sound.png");
				    background-size: 127px 70px;
				    margin-right: 20px;
				}
				.delbtn{
					font-size: 30px;
					height:70px;
					line-height: 70px;
					border:1px solid #9e9ea6;
					border-radius:4px;
					background:#fff;
					color:#555459;
					width:198px;
				}
			}

		}
		.imgwrap{
			margin-top: 40px;
			.title{
				font-size:25px;
				color:#555459;
				text-align:left;
				margin-bottom: 20px;
			}
			.imgarea{
				margin-bottom: 20px;
				cursor: pointer;
				text-align: center;
				border:3px dotted #00b8f3;
				border-radius:6px;
				width:154px;
				height:114px;
				img{
					width: 40px;
					padding-top:20px;
				}
				p{
					font-size: 20px;
					color:#00b8f3;
				}
			}
			.qimg{
				img.titleimg{
					border:1px solid #d8d8d8;
					border-radius:6px;
					width:158px;
					height:118px;
				}
				.wrap{
					cursor: pointer;
					padding-left:20px;
					.icon{
						width: 18px;
						height: 20px;
					}
					span{
						font-size:15px;
						color:#000000;
						line-height:24px;
						vertical-align: middle;
						text-align:left; 
					}
				}
			}
		}
		.sentencewrap{
			margin-top: 40px;
			.title{
				font-size:25px;
				color:#555459;
				text-align:left;
				margin-bottom: 20px;
			}
			.titleipt{
				display: block;
				width: 490px;
				height: 48px;
			}
			.tips{
				font-size:15px;
				color:#000000;
				line-height:24px;
				text-align:left;
			}
		}
	}
	.m-block{
		padding:0 40px;
		.title{
			font-size:25px;
			color:#555459;
			text-align:left;
			font-weight: bold;
			span{
				padding-left:30px;
				font-size: 20px;
			}
		}
		.blockcontainer{
			.blockitem{
				width:150px;
				text-align:center;
				margin-right: 60px;
				margin-bottom: 40px;
				.topblock{ 
					width:150px;
					height:150px;
					background-image:url("./../img/frame.png");
					.blockipt{
						width:150px;
						text-align: center;
						top: 54px;
						left: 0;
						font-size:36px;
						color:#00b8f3;
						line-height:30px;
						height: 30px;
					}
					.del{
						width: 30px;
						height: 30px;
						right: -4px;
						top:-4px;
						cursor: pointer;
					}
				}
				.cnt-ipt{
					background:#f7fafc;
					border:1px solid #c5d2db;
					border-radius:4px;
					width:118px;
					height:38px;
					line-height: 38px;
					text-align: center;
					margin:0 auto;
					color:#555459;
					cursor: pointer;
				}
				.check{
					margin:0 auto;
					width: 36px;
					height: 36px;
					background-size:36px 36px;
				}
				.right{
					background-image:url(./../img/right.png);
				}
				.wrong{
					background-image:url(./../img/wrong.png);
				}
			}

			.typelink{
				width:316px;
				.topblock{ 
					width: 316px; 
					height: 150px;
					background-size:316px 150px;
					background-image: url(./../img/block2.png);
					.blockimg{
						top:20px;
						right: 20px;
						width:108px;
						height: 108px;
						border-radius:8px;
					}
				}
				.cnt-ipt.text{
					margin-left: 20px;
				}
				.cnt-ipt.img{
					margin-right: 20px;
					cursor: pointer;	
				}
			}
			.typeimg{
				.blockipt{
					width: 110px;
					top:10px;
					left: 10px;
					height: 110px;
					img{
						border-radius:8px;
					}
				}
				.topblock{
					background-image: url(./../img/block1.png);
					.blockimg{
						top:20px;
						right: 20px;
						width:108px;
						height: 108px;
						border-radius:8px;
					}
				}
			}
			.add{
				border:3px dotted #00b8f3;
				border-radius:6px;
				width:160px;
				height:238px;
				text-align: center;
				color:#00b8f3;
				font-weight: bold; 
				font-size:20px;
				cursor: pointer;
				.topimg{
					margin:70px auto 20px;
					width: 80px;
					height: 80px;
				}
			}
		}


		.tips{
			font-size:17px;
			color:#555459;
			height:24px;
			line-height: 24px;
			img{ 
				vertical-align: text-bottom;
				width: 20px;
			}
		}
	}
}