@import "./base/common";	 
 

 .settingWarp{
	position: relative;
	width:706px;
	height:472px;
	margin: 30px auto;
	background:#ffffff;
	border:1px solid #e1e8ed;
	border-radius:4px;
	.form-wrap{  

		.input{
			color:#c5c5c5;
		}

		.hd{
			position: relative;
			height:110px;
			padding:40px 0 30px 90px; 
			border-bottom:1px solid #e1e8ed;
			.left{
				width: 86px;
				height:86px;
				border-radius:43px;
			}
			.right{
				margin-left:114px;	
				h2{
					font-family:PingFang-SC-Regular;
					font-size:25px;
					color:#000000;
					line-height:36px;
					text-align:left;
				}
				.logOut{
					margin-top:16px;
					border:1px solid #d8d8d8;
					border-radius:2px;
					width:158px;
					height:34px;
					line-height:34px;
					text-align:center;
					cursor: pointer;
					font-size:17px;
					color:#9e9ea6;
					&:hover{
						border:1px solid #00b8f3;
					}
				}
			}
		}

		.bd{
			margin:0 auto;
			padding:20px 136px;
			position: relative;
			border-bottom:1px solid #e1e8ed;
			.form-item{
				margin-bottom:20px;
				span{
					font-family:PingFangSC-Medium;
					font-size:18px;
					color:#9e9ea6;
					line-height:30px;
					text-align:left;
				}
				input{
					margin-left:15px;
					padding:3px 0px;
					height: 30px;
					width: 360px;
					font-size: 18px;
					line-height: 30px;
					text-indent: 2px;
					color:#555459;
					border:1px solid #e1e8ed;
				}
				.hasCheck {
					position: relative;
					
					font-family:PingFangSC-Medium;
					font-size:17px;
					color:#c5d2db;
					line-height:30px;
					text-align:left;
				}
				a{
					margin-left:22px;
					height: 30px;
					width: 360px;
					font-size: 18px;
					line-height: 30px;
				}
				.noborder{
					border: none;
				}

			}
		}

		.fd{
			position: relative;
			margin:0 auto;
			padding:20px 136px;
			position: relative;
			button{
				top:10px;
				right: 0;
				background:#00b8f3;
				border-radius:6px;
				width:160px;
				height:46px;
				font-family:PingFangSC-Medium;
				font-size:21px;
				color:#ffffff;
				line-height:46px;
				text-align:center;
				border:none;
				&:hover{
					background:#008ad2;
				}
			}
		}
	}
}