<div class="m-classDetail" >
	<div class="u-side">
		<div class="head">{classDetail.className}</div>
		<div class="instruction">
			<p><i class="type0"></i>创建者:{classDetail.creator}</p>
			<p><i class="type1"></i>时&nbsp;间:{classDetail.createTimeStr}</p>
			<p><i class="type2"></i>题目数:{classDetail.taskNum}</p>
			<!--<p><i class="type3"></i>小块数:{classDetail.maxNum}</p>-->
			<p><i class="type4"></i>科&nbsp;目:{['其他','英语','数学','语文','认知'][classDetail.subject]}</p>
		</div>
		<div class="description">
			<p><i class="type0"></i>简介:</p>
			<section>{classDetail.classDesc}</section>
		</div>
	</div>
	<div class="u-right">
		<div class="m-bread f-cb">
			<a class="guidewrap f-fl" on-click = {this.back()}>&lt;&nbsp;返回上一级</a>
			{#if interactList.length>0}
				<!--根据课堂是否有列表来判定-->
				<div class="okbtn f-fr" on-click={this.InteractListSave($event)}>完成</div>
			{/if}
		</div>
		<div id="inter-container">
			{#if interactList.length>0}
				{#list interactList as it}
					{#if it.type == 1}
						<VocabularyUI interactInfo = {it} classID={classDetail.classID}></VocabularyUI>
					{#elseif it.type == 2}
						<SortUI interactInfo = {it} classID={classDetail.classID}></SortUI>
					{/if}
				{/list}
			{/if}
		</div>
		<div ref="interactList"></div>
			
		<createTask classID={classDetail.classID}></createTask>
	</div>
</div>