<div class="m-classDetail" >
	<div class="u-side">
		<div class="head">{subject}</div>
		<div class="instruction">
			<p><i class="type0"></i>创建者:{creator}</p>
			<p><i class="type1"></i>时&nbsp;间:{createTime}</p>
			<p><i class="type2"></i>题目数:{taskNum}</p>
			<p><i class="type3"></i>小块数:{number}</p>
			<p><i class="type4"></i>科&nbsp;目:{subject}</p>
		</div>
		<div class="description">
			<p><i class="type0"></i>简介:</p>
			<section>{classDesc}</section>
		</div>
	</div>
	<div class="u-right">
		{#list classDetail as tl}
			<taskItem info ={tl} item={tl_index}></taskItem>
		{/list}
		<createTask></createTask>
	</div>
</div>